.white
  color: $white

.column
  +flexbox(column, true, space-between)

input
  border: none

.padding
  padding: $general_padding / 2 $general_padding !important

.space
  margin-bottom: $general_padding

.inline
  display: inline

.apiButton
  padding: 10px 30px
  border: none
  border-radius: 16px
  background-color: $white
  color: $blue
  cursor: pointer
  transition: all .2s

  &:hover
    background-color: $blue
    color: $white
